@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1> 


<p style="text-align:center; font-family:'Times New Roman', Times, cursive; font-size:40px"> Aitee Tan</p>
<p style="text-align:center; font-family:'Times New Roman', Times, cursive; font-size:20px"> - Graduated from Goldsmiths College, Univerity of London with a bachelor of music</p>
<p style="text-align:center; font-family:'Times New Roman', Times, cursive; font-size:20px"> - Piano soloist</p>
<p style="text-align:center; font-family:'Times New Roman', Times, cursive; font-size:20px"> - AIRMT, Register Piano and Music Theory Teacher, New Zealand</p>
<p style="text-align:center; font-family:'Times New Roman', Times, cursive; font-size:20px"> - AIRMT, Register Piano and Music Theory Teacher, New Zealand</p>
<p style="text-align:center; font-family:'Times New Roman', Times, cursive; font-size:20px"> - 25+ years of teaching experience</p>

<div><img src="~/lib/photos/aitee.jpg" width="260px" height="390px"/></div>

