@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1> 

<img src="~/lib/photos/pianist.png" alt="piano keyboard" style="float:left;width:550;height:445;" class="mx-auto d-block">

<p style="text-align:center; font-family:'Times New Roman', Times, serif; font-size:40px"> Aitee Tan</p> 


