@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1> 

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<div style="position:relative; top:20px;">
<p style="text-align:center; font-family:'Open Sans', sans-serif; font-size:40px"> Aitee Tan</p>
<p style="text-align:center; font-family:'Open Sans', sans-serif; font-size:20px"> - Graduated from Goldsmiths College, Univerity of London with a bachelor of music</p>
<p style="text-align:center; font-family:'Open Sans', sans-serif; font-size:20px"> - Piano soloist</p>
<p style="text-align:center; font-family:'Open Sans', sans-serif; font-size:20px"> - AIRMT, Registered Piano and Music Theory Teacher, New Zealand</p>
<p style="text-align:center; font-family:'Open Sans', sans-serif; font-size:20px"> - AIRMT, Registered Piano and Music Theory Teacher, New Zealand</p>
<p style="text-align:center; font-family:'Open Sans', sans-serif; font-size:20px"> - 25+ years of teaching experience</p>
</div>

<div><img src="~/lib/photos/aitee.jpg" style=" position:absolute; left:40px; top:150px;" width="260px" height="390px" /></div>

<div><img src="~/images/ken manikam.jpg" style=" position:absolute; left:40px; top:550px;" height="390px" width="260px"/></div>



<div style="position:relative; top:110px;">
<p style="text-align:center; font-family:'Open Sans', sans-serif; font-size:40px "> Kennedy Manikam </p>
<p style="text-align:center; font-family:'Open Sans', sans-serif; font-size:20px"> - Graduated from Goldsmiths College, Univerity of London with a bachelor of music</p>
<p style="text-align:center; font-family:'Open Sans', sans-serif; font-size:20px"> - Guitar soloist</p>
<p style="text-align:center; font-family:'Open Sans', sans-serif; font-size:20px"> - AIRMT, Registered Guitar and Music Theory Teacher, New Zealand</p>
<p style="text-align:center; font-family:'Open Sans', sans-serif; font-size:20px"> - AIRMT, Registered Guitar and Music Theory Teacher, New Zealand</p>
<p style="text-align:center; font-family:'Open Sans', sans-serif; font-size:20px"> - 20+ years of teaching experience</p>
<br/>
</div>

