
@{
    ViewData["Title"] = "Contact";
}


<div class="contact">
    <h1>Contact Us</h1>
    <input type="text" placeholder="Full name"
        <i class="far fa-user" ></i>
</div>

<div class="contact">
    <input type="email" placeholder="Email address"
    <i class="far fa-envelope"></i>
</div>

<textarea cols="15" rows="5" placeholder="Message"></textarea>
<button>Send</button>
   
<div
    margin: 0;
    padding: 0;
    font-family:'Times New Roman',Times, serif; font-size:40px"
    bo

