
@{
    ViewData["Title"] = "Contact";
}


<div class="contact" >
    <h1>Contact Us</h1>
    <input type="text" placeholder="Full name"
        <i class="far fa-user" ></i>
</div>

<div class="contact">
    <input type="email" placeholder="Email address"
    <i class="far fa-envelope"></i>
</div>

<textarea cols="15" rows="5" placeholder="Message"></textarea>
<button>Send</button>

<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3189.524632283036!2d174.65278661581002!3d-36.92562869151814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d43d1326870ab%3A0xa6e3eac3a2d3998!2s1%2F85%20Atkinson%20Road%2C%20Titirangi%2C%20Auckland%200604!5e0!3m2!1sen!2snz!4v1680572841163!5m2!1sen!2snz" width="800" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" </iframe>
