
@{
    ViewData["Title"] = "Fees and dates";
}

<h1>Fees and dates</h1>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<div><p style="text-align:center; font-family: 'Open Sans', sans-serif; font-size:40px"> 2023 TERM DATES </p></div>
<div><p style="text-align:center; font-family: 'Open Sans', sans-serif; font-size:30px"> Term 1: Tuesday 7 February to Thursday 6 April</p></div>
<div><p style="text-align:center; font-family: 'Open Sans', sans-serif; font-size:30px"> Term 2: Wednesday 26 April to Saturday 1 July</p></div>
<div><p style="text-align:center; font-family: 'Open Sans', sans-serif; font-size:30px"> Term 3: Monday 17 July to Saturday 23 September</p></div>
<div><p style="text-align:center; font-family: 'Open Sans', sans-serif; font-size:30px"> Term 4: Monday 9 October to Saturday 9 December</p></div>

<div><p style="text-align:center; font-family: 'Open Sans', sans-serif; font-size:40px"> FEES </p></div>
<div><p style="text-align:center; font-family: 'Open Sans', sans-serif; font-size:30px"> Individual lessons: $600 per term </p></div>
<div><p style="text-align:center; font-family: 'Open Sans', sans-serif; font-size:30px"> Group lessons: $250 per term </p></div>


<div class="row">
    <div class="col-75">
        <div class="container">
            <form action="/action_page.php">

                <div class="row">
                    <div class="col-50">
                        <h3>Booking lessons form</h3>
                        <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                        <input type="text" id="fname" name="fullname" placeholder="Melissa Manikam">
                        <label for="email"><i class="fa fa-envelope"></i> Email</label>
                        <input type="text" id="email" name="email" placeholder="mel@example.com">
                        <label for="adr"><i class="fa fa-address-card-o"></i> Level</label>
                        <input type="text" id="adr" name="address" placeholder="beginner/intermediate/advanced">
                        <label for="city"><i class="fa fa-institution"></i> Suburb</label>
                        <input type="text" id="city" name="city" placeholder="Titirangi">

                        <div class="row">
                            <div class="col-50">
                                <label for="state">City</label>
                                <input type="text" id="state" name="state" placeholder="AKL">
                            </div>
                            <div class="col-50">
                                <label for="zip">Zip</label>
                                <input type="text" id="zip" name="zip" placeholder="0604">
                            </div>
                        </div>
                    </div>

                    <div class="col-50">
                        <h3>Payment</h3>
                        <label for="fname">Accepted Cards</label>
                        <div class="icon-container">
                            <i class="fa fa-cc-visa" style="color:navy;"></i>
                            <i class="fa fa-cc-amex" style="color:blue;"></i>
                            <i class="fa fa-cc-mastercard" style="color:red;"></i>
                            <i class="fa fa-cc-discover" style="color:orange;"></i>
                        </div>
                        <label for="cname">Name on Card</label>
                        <input type="text" id="cname" name="cardname" placeholder="M. Manikam">
                        <label for="ccnum">Credit card number</label>
                        <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                        <label for="expmonth">Exp Month</label>
                        <input type="text" id="expmonth" name="expmonth" placeholder="September">

                        <div class="row">
                            <div class="col-50">
                                <label for="expyear">Exp Year</label>
                                <input type="text" id="expyear" name="expyear" placeholder="2024">
                            </div>
                            <div class="col-50">
                                <label for="cvv">CVV</label>
                                <input type="text" id="cvv" name="cvv" placeholder="352">
                            </div>
                        </div>
                    </div>

                </div>
                <label>
                    <input type="checkbox" checked="checked" name="sameadr"> Individual Lessons
                </label>
                <label>
                    <input type="checkbox" checked="checked" name="sameadr"> Group Lessons
                </label>
                <input type="submit" value="Book Now" class="btn">
            </form>
        </div>
    </div>


