
@{
    ViewData["Title"] = "Fees and dates";
}

<h1>Fees and dates</h1>

<div><p style="text-align:center; font-family:'Times New Roman', Times, serif; font-size:40px"> 2023 TERM DATES </p></div>
<div><p style="text-align:center; font-family:'Times New Roman', Times, serif; font-size:30px"> Term 1: Tuesday 7 February to Thursday 6 April</p></div>
<div><p style="text-align:center; font-family:'Times New Roman', Times, serif; font-size:30px"> Term 2: Wednesday 26 April to Saturday 1 July</p></div>
<div><p style="text-align:center; font-family:'Times New Roman', Times, serif; font-size:30px"> Term 3: Monday 17 July to Saturday 23 September</p></div>
<div><p style="text-align:center; font-family:'Times New Roman', Times, serif; font-size:30px"> Term 4: Monday 9 October to Saturday 9 December</p></div>

<div><p style="text-align:center; font-family:'Times New Roman', Times, serif; font-size:40px"> FEES </p></div>
<div><p style="text-align:center; font-family:'Times New Roman', Times, serif; font-size:30px"> Individual lessons: $600 per term </p></div>
<div><p style="text-align:center; font-family:'Times New Roman', Times, serif; font-size:30px"> Group lessons: $250 per term </p></div>




