@{
    ViewData["Title"] = "Fees and dates";
}

<h1>Fees and dates</h1>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<div class="dateheadings">
    <div class="col p-3">
        <p> 2023 TERM DATES </p>
    </div>
</div>

<div class="dates">
    <div class="col p-3">
        <p> Term 1: Tuesday 7 February to Thursday 6 April</p>
        <p> Term 2: Wednesday 26 April to Saturday 1 July</p>
        <p> Term 3: Monday 17 July to Saturday 23 September</p>
        <p> Term 4: Monday 9 October to Saturday 9 December</p>
    </div>
</div>

<div class="feesheading">
    <div class="col p-3">
        <p> FEES </p> 
    </div>
</div>

<div class="fees">
    <div class="col p-3">
        <p> Individual lessons: $600 per term </p>
        <p> Group lessons: $250 per term </p>
    </div>
</div>

@{
    if (ViewBag.Name != null)
    {
        <h3> Thank you @ViewBag.Name! We will get back to you as soon as possible!</h3>
    }
    else
    {
        <form action="booking" method="post">
            <div class="row">
                <div class="col p-3">
                    <h3>Booking lessons form</h3>
                    <label for="name"><i class="fa fa-user"></i> Full Name</label>
                    <input type="text" id="name" name="name" placeholder="Melissa Manikam">
                    <label for="email"><i class="fa fa-envelope"></i> Email</label>
                    <input type="text" id="email" name="email" placeholder="mel@example.com">
                    <label for="phone"><i class="fa fa-address-card-o"></i> Phone Number</label>
                    <input type="tel" id="phone" autocomplete="tel" name="phone" placeholder="111-222-3333">
                    <label for="address"><i class="fa fa-institution"></i> Address</label>
                    <input type="text" id="address" name="address" placeholder="10 Example Road">
                    <label for="suburb"><i class="fa fa-institution"></i> Suburb</label>
                    <input type="text" id="suburb" name="suburb" placeholder="Titirangi">

                    <div class="row">
                        <div class="col-50">
                            <label for="city">City</label>
                            <input type="text" id="city" name="city" placeholder="Auckland">
                        </div>
                        <div class="col-50">
                            <label for="zip">Zip</label>
                            <input type="text" id="zip" name="zip" placeholder="0604">
                        </div>
                    </div>

                    <label for="level"><i class="fa fa-institution"></i> Level</label>
                    <label for="beginner"><input type="radio" id="beginner" name="level" title="Beginner" value="Beginner" /> Beginner</label>
                    <label for="intermediate"><input type="radio" id="intermediate" name="level" title="Intermediate" value="Intermediate" /> Intermediate</label>
                    <label for="advanced"><input type="radio" id="advanced" name="level" title="Advanced" value="Advanced" /> Advanced</label>
                </div>

                <label>
                    <input type="checkbox" checked="checked" name="lesson" value="Individual"> Individual Lessons
                </label>
                <label>
                    <input type="checkbox" name="lesson" value="Group"> Group Lessons
                </label>
                <input type="submit" value="Book Now" class="btn">
        </form>
    }
}


