@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aitee's music studio</h1>
 </div>
 
<img src="~/lib/photos/piano keys.jpg" alt="piano keyboard" style="width:900;height:445;" class="mx-auto d-block">

 