@{
	ViewData["Title"] = "Home Page";
}

<div class="landing-image d-flex align-items-center justify-content-center">
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<div><p style="text-align:center; font-family: 'Dancing Script', cursive; font-size:60px"> Welcome to Aitee's music studio </p></div>
<div>
	<p class="home" style="text-align:center; font-family: 'Open Sans', sans-serif; font-size:20px">
		Founded in 2006, we are the largest music academies in Auckland, with several branches throughout the city. With our programs varying from private lessons for all instruments to group piano and guitar classes, we also offer free theory and aural classes to all students enrolled. We have the highest success rates when it comes to competition and exam results. Our team of teachers is professionally trained to encourage excellence and a high level of accomplishment . Aitee's Music Piano Department produces some of the most successful young pianists in Auckland.
        Aitee's' Music Studio provides quality music education in an atmosphere that fosters achievement, encourages creativity, and cultivates a lifelong love of music.
	</p>
</div>


<div class="container d-flex flex-row justify-content-center" style="padding-top: 15px">
	<a href="#" class="fa fa-facebook p-2"></a>
	<a href="#" class="fa fa-youtube p-2"></a>
	<a href="#" class="fa fa-instagram p-2" ></a>
</div>

