@{
	ViewData["Title"] = "Home Page";
}

<div class="landing-image d-flex align-items-center justify-content-center">
	</div>
</div>
<div class="container d-flex flex-row justify-content-center" style="padding-top: 15px">
	<a href="#" class="fa fa-facebook p-2"></a>
	<a href="#" class="fa fa-youtube p-2"></a>
	<a href="#" class="fa fa-instagram p-2" ></a>
</div>